@import "phone.css";
@import "tablet.css";
@import url("https://fonts.googleapis.com/css?family=Ovo|Quattrocento+Sans");

* {
  box-sizing: border-box;
  font-weight: normal;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 0px;
	grid-template-areas: 
      "hd hd hd hd hd hd hd hd hd hd hd hd"
      "main main main main main main main main main main main main"
      "ft ft ft ft ft ft ft ft ft ft ft ft";
    margin: 0px auto;
    max-width: 1640px;
}
.post-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 0px;
	grid-template-areas: 
      "hd hd hd hd hd hd hd hd hd hd hd hd"
      "postmain postmain postmain postmain postmain postmain postmain postmain sd sd sd sd"
      "ft ft ft ft ft ft ft ft ft ft ft ft";
    margin: 0px auto;
    max-width: 1640px;
}

.header {
	grid-area: hd;
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
}

.site-name {
	width: 60%;
	height: 75px;
	border: 1px solid red;
	font-size: 18px;
	font-family: "Ovo", sans-serif;
	display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.nav {
	width: 40%;	
	height: 75px;
	border: 1px solid red;
}

.header-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    height: 100%;
}

.header-nav li a {
    font-size: 18px;
    text-decoration: none;
    color: #616161;
    font-family: "Quattrocento Sans", sans-serif;  
}

.header-nav li a:hover {
	color: #374C9F;
	border-bottom: 1px dotted #374C9F;
}

.main-header {
	width: 100%;
	background-color: #F7DEDB;
}

.hello {
	color: #374C9F;
	width: 40%;
}

h1 {
	font-size: 48px;
	font-family: "Ovo", sans-serif;
	margin-bottom: 10px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
    font-family: "Quattrocento Sans", sans-serif;
}

.header-links {
	margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    height: 100%;
}

.header-links li {
	display: block;
	padding: 10px;
}

.page-body {
	grid-area: main;
	border: 1px solid red;
	display: flex;
	justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.post-body {
	grid-area: postmain;
	border: 1px solid red;
    font: normal;
}

blockquote {
	font-style: italic;
	font-size: 24px;
    font-family: "Quattrocento Sans", sans-serif;
    color: #374C9F;
}

b {
	font-weight: bold;
}

.image-header {
	background-image: url("../images/img_header.jpg");
	background-position: center top;
	background-size: cover;
	height: 300px;	
	width: 100%;
}

.sidebar {
	grid-area: sd;
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.avatar {
	height: 75px;
	width: 20%;
	min-width: 75px;
}

.avatar img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #374C9F;
	margin: 20px 10px;
}

.bio {
	width: 80%;
}

.sidebar h3 {
	font-size: 16px;
	font-weight: bold;
	font-family: "Ovo", sans-serif;
	margin: 0 auto;
	color: #374C9F;
	text-align: left;
}

h3 {
	font-size: 38px;
	font-family: "Ovo", sans-serif;
	margin-bottom: 10px;
	color: #374C9F;
	text-align: center;
	display: block;
	width: 100%;
}

h4 {
	font-size: 24px;
	font-family: "Ovo", sans-serif;
	margin: 0 auto;
	color: #374C9F;
	text-align: left;
}
.card {
	flex: 1;
	max-width: 500px;
	border-radius: 0px 0px 6px 6px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
	margin: 15px 15px;
}

.card-container {
	padding: 20px;
	text-align: center;
}

.card-container p {
	font-family: "Quattrocento Sans", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #616161;
	margin: 5px auto;
	text-align: left;
}

.card-container p:first-of-type {
	margin: 0px auto;
}

.date {
    font-family: "Quattrocento Sans", sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	color: #b9b9b9;
}

.button {
	width: auto;
	height: auto;
	border-radius: 28px;
	background: #8d6c9f;
	padding: 10px 20px;
    font-family: "Quattrocento Sans", sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin: 10px auto;
	display: inline-block;
}

.footer {
	grid-area: ft;
	border: 1px solid red;
	font-size: 12px;
    font-family: "Quattrocento Sans", sans-serif;
    color: #fff;
    padding: 25px;
    background-color: #374C9F;
}